<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Lizz Aphrodite{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% stylesheets
            '@bootstrap_css'
            '@AppBundle/Resources/public/css/*' %}
            <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}"/>
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% include 'Common/header.html.twig' %}
        {% block body %}{% endblock %}
        {% include 'Common/footer.html.twig' %}

        {% javascripts
            '@jquery'
            '@bootstrap_js'
            '@AppBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
